<div class="blances__blance" data-controller="blances">
  <div class="date"><%= t(".date", date: l(blance.date)) %></div>
  <div class="result" data-target="blances.result"><%= blance.result %></div>
  <div class="investment"><%= t(".investment") %><span><%= blance.total_investment_money %></span></div>
  <div class="recovery"><%= t(".recovery") %><span><%= blance.total_recovery_money %></span></div>
  <div class="name"><%= t(".name") %><span><%= blance.name %></span></div>
  <div class="store"><%= t(".store") %><span><%= blance.store %></span></div>
  <div class="links">
    <%= link_to t(".show"), blance %>
    <%= link_to t(".edit"), edit_blance_path(blance) %>
    <%= link_to t(".destroy"), blance, data: { turbo_method: :delete, turbo_confirm: t(".confirm") } %>
    <%= link_to t(".history"), blance_histories_path(blance) %>
  </div>
</div>
