<%= form_with(model: @blance, local: true) do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select :category, ["パチンコ", "スロット"], { include_blank: true } %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :investment_money %>
    <%= f.number_field :investment_money %>
  </div>
  <div>
    <%= f.label :recovery_money %>
    <%= f.number_field :recovery_money %>
  </div>
  <div>
    <%= f.label :investment_saving %>
    <%= f.number_field :investment_saving %>
  </div>
  <div>
    <%= f.label :recovery_saving %>
    <%= f.number_field :recovery_saving %>
  </div>
  <div>
    <%= f.label :rate %>
    <%= f.select :rate,
      [["4パチ(4.0)", 4.0], ["1パチ(1.0)", 1.0], ["20スロ(21.73)", 21.73], ["5スロ(5.43)", 5.43]],
      { include_blank: true }
    %>
  </div>
  <div>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <%= f.submit yield(:button_text) %>
<% end %>
