<div class="blances__form">
  <%= form_with(model: @blance, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form_group">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>
    <div class="form_group">
      <%= f.label :category %>
      <%= f.select :category, ["パチンコ", "スロット"], { include_blank: true } %>
    </div>
    <div class="form_group">
      <%= f.label :machine_name %>
      <%= f.text_field :machine_name, list: "machine_names" %>
      <datalist id="machine_names"></datalist>
    </div>
    <div class="form_group">
      <%= f.label :investment_money %>
      <%= f.number_field :investment_money %>
    </div>
    <div class="form_group">
      <%= f.label :recovery_money %>
      <%= f.number_field :recovery_money %>
    </div>
    <div class="form_group">
      <%= f.label :investment_saving %>
      <%= f.number_field :investment_saving %>
    </div>
    <div class="form_group">
      <%= f.label :recovery_saving %>
      <%= f.number_field :recovery_saving %>
    </div>
    <div class="form_group">
      <%= f.label :rate %>
      <%= f.select :rate, [["4パチ(4.0)", 4.0], ["1パチ(1.0)", 1.0], ["20スロ(21.73)", 21.73], ["5スロ(5.43)", 5.43]], { include_blank: true } %>
    </div>
    <div class="form_group">
      <%= f.label :store %>
      <%= f.text_field :store %>
    </div>
    <div class="form_group">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div>
    <div class="form_group">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>
    <div class="images">
      <% @blance.images.each do |image| %>
        <div class="image" data-controller="blances" data-target="blances.image">
          <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
          <i class="fa-solid fa-xmark" data-action="click->blances#delete"></i>
          <%= image_tag image.variant(resize_to_limit: [1024, 1024]) %>
        </div>
      <% end %>
    </div>
    <%= f.submit yield(:button_text) %>
  <% end %>
</div>

<script>
  [
    "スマスロ北斗の拳",
    "パチスロ甲鉄城のカバネリ",
    "マイジャグラーⅤ",
    "ゴーゴージャグラー3",
    "アイムジャグラーEX",
    "ファンキージャグラー2",
    "ハッピージャグラーVⅢ",
    "スマスロキングパルサー",
    "パチスロ ガメラ2",
    "Lパチスロガールズ＆パンツァー 最終章",
    "L ゴジラ対エヴァンゲリオン",
    "スマスロ バイオハザード™ ヴィレッジ",
    "Lパチスロ　マクロスフロンティア４",
    "吉宗ＲＩＳＩＮＧ",
    "スマスロバジリスク～甲賀忍法帖～絆2 天膳 BLACK EDITION",
    "マジカルハロウィン８",
    "パチスロ交響詩篇エウレカセブン HI-EVOLUTION ZERO TYPE-ART",
    "L戦国乙女4 戦乱に閃く炯眼の軍師",
    "パチスロ 革命機ヴァルヴレイヴ",
    "パチスロ からくりサーカス",
    "L主役は銭形4",
    "回胴式遊技機 グランベルム",
    "パチスロ炎炎ノ消防隊",
    "パチスロ傷物語 始マリノ刻",
    "スマスロ転生したらスライムだった件",
    "パチスロコードギアス反逆のルルーシュ3 C.C.&Kallen ver.",
    "パチスロ バイオハザード RE:2",
    "パチスロ モンスターハンターワールド：アイスボーンTM",
    "パチスロ 新鬼武者2",
    "パチスロ機動戦士ガンダムユニコーン",
    "スマスロ バイオハザード:ヴェンデッタ",
    "パチスロ頭文字D",
    "キングハナハナ-30",
    "ハナハナホウオウ～天翔～",
    "パチスロディスクアップ2",
    "バーサスリヴァイズ",
  ].forEach(machine_name => {
    const option = document.createElement("option");
    option.value = machine_name;
    document.getElementById("machine_names").appendChild(option);
  });
</script>
