<%# REQUIRE: @blances %>

<% content_for(:title, t(".title")) %>

<table>
  <thead>
    <tr>
      <th><%= Blance.human_attribute_name(:id) %></th>
      <th><%= Blance.human_attribute_name(:date) %></th>
      <th><%= Blance.human_attribute_name(:category) %></th>
      <th><%= Blance.human_attribute_name(:name) %></th>
      <th><%= Blance.human_attribute_name(:investment_money) %></th>
      <th><%= Blance.human_attribute_name(:recovery_money) %></th>
      <th><%= Blance.human_attribute_name(:investment_saving) %></th>
      <th><%= Blance.human_attribute_name(:recovery_saving) %></th>
      <th><%= Blance.human_attribute_name(:rate) %></th>
      <th><%= Blance.human_attribute_name(:store) %></th>
      <th><%= Blance.human_attribute_name(:note) %></th>
      <th><%= Blance.human_attribute_name(:result) %></th>
      <th><%= Blance.human_attribute_name(:created_at) %></th>
      <th><%= Blance.human_attribute_name(:updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @blances.each do |blance| %>
      <tr>
        <td><%= blance.id %></td>
        <td><%= l(blance.date) %></td>
        <td><%= blance.category %></td>
        <td><%= blance.name %></td>
        <td><%= blance.investment_money %></td>
        <td><%= blance.recovery_money %></td>
        <td><%= blance.investment_saving %></td>
        <td><%= blance.recovery_saving %></td>
        <td><%= blance.rate %></td>
        <td><%= blance.store %></td>
        <td><%= blance.note %></td>
        <td><%= blance.caluculate_blance %></td>
        <td><%= t("defaults.ago", time: time_ago_in_words(blance.created_at)) %></td>
        <td><%= t("defaults.ago", time: time_ago_in_words(blance.updated_at)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
