<% title t(".title", date: l(@blance.date)) %>

<div class="histories__index">
  <% if @histories.any? %>
    <table>
      <thead>
        <tr>
          <th><%= History.human_attribute_name(:game_count) %></th>
          <th><%= History.human_attribute_name(:chance) %></th>
          <th><%= History.human_attribute_name(:investment) %></th>
          <th><%= History.human_attribute_name(:memo) %></th>
          <th><%= t(".operation") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: :history, collection: @histories %>
      </tbody>
    </table>
  <% else %>
    <div class="no_history">
      <p><%= t(".no_history") %></p>
    </div>
  <% end %>
  <div class="new_history">
    <%= link_to(t(".new_history"), new_blance_history_path, class: "creation-link-btn") %>
  </div>
</div>
