<header class="layouts__header">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag asset_path("logo.png"), alt: "logo" %>
    <% end %>
  </div>
  <div class="links">
    <button>
      <%= t(".blance") %>
      <%= icon("fa-solid", "caret-down") %>
    </button>
    <div class="dropdown">
      <%= link_to blances_path do %>
        <%= icon("fa-solid", "table", t(".index")) %>
      <% end %>
      <%= link_to new_blance_path do %>
        <%= icon("fa-solid", "plus", t(".new")) %>
      <% end %>
    </div>
  </div>
</header>
